[submodule "emu/fbneo"]
	path = emu/fbneo
	url = https://github.com/finalburnneo/FBNeo.git
[submodule "emu/mame"]
	path = emu/mame
	url = https://github.com/mamedev/mame.git
[submodule "emu/jtcores"]
	path = emu/jtcores
	url = https://github.com/DefinitelyFrenchName/jtcores
	branch = vampire-saved
